body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #eec9d2;
}
.container {
    max-width: 1170px;
    margin: 0 auto;
    text-align: center;
    margin-top: 30px;
}
.calculator {
    background: white;
    max-width: 500px;
    height: 500px;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
    border-radius: 30px;
    margin: 0 auto;
    padding: 15px;
}

.form {
    max-width: 200px;
    height: 50px;
    border: 2px solid #000;
    border-radius: 30px;
    outline: none;
    font-size: 30px;
    padding: 10px;
}

#result {
    width: 50%;
    height: 40px;
    border: 1px solid #000;
    border-radius: 35px;
    outline: none;
    font-size: 25px;
    padding: 10px;
}
.operator {
    width: 60px;
    height: 60px;
    border: none;
    font-size: 30px;
    cursor: pointer;
    margin: 30px 15px;
    border: 1px solid gray;
    background: none;
    border-radius: 15px;
    transition: .5s ease-in-out;
}
.operator:hover {
    background: black;
    color: white;

}